https://medium.com/deep-math-machine-learning-ai/chapter-4-decision-trees-algorithms-b93975f7a1f1

## Decision Tree Classifier

In [ ]:
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
%matplotlib inline

filepath = "C:\\Users\\Aung Thiha\\Machine Learning With Python\\Machine Learning DataSets (csv format)\\salaries.csv"
df = pd.read_csv(filepath)

inputs = df.drop(["salary_more_then_100k"],axis="columns")
target = df.salary_more_then_100k

company_Encoder = LabelEncoder()
job_Encoder = LabelEncoder()
degree_Encoder = LabelEncoder()

inputs["company_Encoder"] = company_Encoder.fit_transform(inputs["company"])
inputs["job_Encoder"] = job_Encoder.fit_transform(inputs["job"])
inputs["degree_Encoder"] = degree_Encoder.fit_transform(inputs["degree"])

new_df = inputs.drop(["company","job","degree"],axis="columns")

model = tree.DecisionTreeClassifier()
model.fit(new_df,target)

print(model.predict([[2,0,1]]))
print("Prediction score accuarcy is ", model.score(new_df,target))

## Titanic Datasets Exercise

In [5]:
from sklearn import tree
#from sklearn.preprocessing import LabelEncoder
#import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import Imputer
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

#from sklearn.tree import DecisionTreeClassifier

import pydotplus
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO
from IPython.display import Image


filepath = "C:\\Users\\Aung Thiha\\Machine Learning With Python\\Machine Learning DataSets (csv format)\\titanic_dataset.csv"
df = pd.read_csv(filepath)

In [6]:
df1 = df.drop(["PassengerId","Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis="columns")

In [7]:
sex_label = LabelEncoder()
df1["sex"] = sex_label.fit_transform(df1.Sex)
df2 = df1.drop(["Sex"],axis="columns")

In [8]:
df2.Age = df.Age.fillna(df2.Age.mean())

In [9]:
df2.isnull().sum()

Survived    0
Pclass      0
Age         0
Fare        0
sex         0
dtype: int64

In [10]:
df2

     Survived  Pclass        Age     Fare  sex
0           0       3  22.000000   7.2500    1
1           1       1  38.000000  71.2833    0
2           1       3  26.000000   7.9250    0
3           1       1  35.000000  53.1000    0
4           0       3  35.000000   8.0500    1
..        ...     ...        ...      ...  ...
886         0       2  27.000000  13.0000    1
887         1       1  19.000000  30.0000    0
888         0       3  29.699118  23.4500    0
889         1       1  26.000000  30.0000    1
890         0       3  32.000000   7.7500    1

[891 rows x 5 columns]

In [19]:
inputs = df2.drop(["Survived"],axis="columns")
target = df2.Survived

In [11]:
model = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)

In [21]:
model.fit(inputs,target)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [22]:
model.predict([[2,33,20.0,1]])

array([0], dtype=int64)

In [23]:
model.score(inputs,target)

0.8271604938271605

In [24]:
dot_data = StringIO()

export_graphviz(model, out_file=dot_data,feature_names=inputs.columns, class_names=['Dead', 'Survived'])

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

Image(graph.create_png())
graph.write_png("titanic_ath.png")

InvocationException: Program terminated with status: 1. stderr follows: 'C:\Users\Aung' is not recognized as an internal or external command,
operable program or batch file.

https://chrisalbon.com/machine_learning/trees_and_forests/visualize_a_decision_tree/

In [ ]:
from sklearn.metrics import confusion_matrix
y_predicted=model.predict(inputs)
cm = confusion_matrix(target, y_predicted)

In [ ]:
import seaborn as sn
plt.figure(figsize = (10,7))
sn.heatmap(cm, annot=True)
plt.xlabel('Predicted')
plt.ylabel('Truth')